<h1>
  <%= @client.name %>
  <div class="btn-group btn-group-md pull-right">
    <a class="btn btn-default"
       href="<%= edit_client_path(@client) %>">
      <span class="glyphicon glyphicon-pencil"></span>
      Edit Client
    </a>
    <a class="btn btn-primary"
       href="<%= new_client_project_path(@client) %>">
      <span class="glyphicon glyphicon-plus"></span>
      New Project
    </a>
  </div>
</h1>

<div class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-md-2">Account Number</label>
    <div class="col-md-10">
      <p class="form-control-static"><%= @client.account_number %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2">Contact Email</label>
    <div class="col-md-10">
      <p class="form-control-static"><%= mail_to @client.contact_email %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2">Address</label>
    <div class="col-md-10">
      <%= simple_format @client.address,
          {class: 'form-control-static'},
          wrapper_tag: 'address' %>
    </div>
  </div>
</div>

<div class="spacer"></div>

<h3>Projects</h3>
<table class="table table-striped">
  <tbody>
    <% @client.projects.each do |project| %>
      <tr>
        <td>
          <%= link_to project.name, project_path(project) %>
        </td>
        <td>
          <%= project.budget_hours %>
        </td>
        <td>
          <span title="<%= project.deadline %>">
            <%= distance_of_time_in_words_to_now(project.deadline) %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
  <thead>
    <tr>
      <th>Project</th>
      <th>Budget (hours)</th>
      <th>Deadline</th>
    </tr>
  </thead>
</table>
